*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

body {
  color: #fff;
  background: #0e121b;
  padding: 0 5vw;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* font-size: clamp(1rem, 1.3rem, 1.3rem); */
}

button {
  padding: .75rem 1.25rem;
  background: linear-gradient(273.31deg, #7F1CFC 0.79%, #FF1C60 98.6%);
  color: inherit;
  border: none;
  border-radius: 50px;
  font-size: inherit;
}

.header {
  padding: 65px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo>span {
  text-transform: uppercase;
  font-size: 30px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu>ul {
  display: flex;
}

.header__menu a {
  padding: 0 1.10rem;
  opacity: .6;
}

.header__menu a:hover {
  opacity: 1;
}

.header__menu button {
  
}